<tr>
	<td 
		{% if guess.jogador == day_player.jogador %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.jogador }}
	</td>
	<td 
		{% if guess.nacionalidade == day_player.nacionalidade %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.nacionalidade }}
	</td>
	<td 
		{% if guess.posicao == day_player.posicao %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.posicao }}
	</td>
	<td 
		{% if guess.equipe == day_player.equipe %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.equipe }}
	</td>
	<td 
		{% if guess.competicao == day_player.competicao %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.competicao }}
	</td>
	<td 
		{% if guess.idade == day_player.idade %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.idade }}
		{% if guess.idade > day_player.idade %}
			⇓
		{% elif guess.idade < day_player.idade %}
			⇑
		{% endif %}
	</td>
	<td 
		{% if guess.partidas_jogadas == day_player.partidas_jogadas %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.partidas_jogadas }}
		{% if guess.partidas_jogadas > day_player.partidas_jogadas %}
			⇓
		{% elif guess.partidas_jogadas < day_player.partidas_jogadas %}
			⇑
		{% endif %}
	</td>
	<td 
		{% if guess.gols_feitos == day_player.gols_feitos  %}
			style="background-color: green;"
		{% else %}
			style="background-color: red;"
		{% endif %}
	>
		{{ guess.gols_feitos  }}
		{% if guess.gols_feitos > day_player.gols_feitos %}
			⇓
		{% elif guess.gols_feitos < day_player.gols_feitos %}
			⇑
		{% endif %}
	</td>
</tr>