:root{
	--red: rgb(255, 83, 83);
	--green: rgb(104, 210, 104);
	--yellow: rgb(255,255,102);
}

html{
	font-family: 'Roboto', sans-serif;
}
.descricao {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 0vh 5vh 0vh;
}
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search input[type=text]{
	width: 20em;
	box-sizing: border-box;
	border-radius: 4px;
}
.search input[type=submit]{
	border-radius: 4px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
.search{
	display: inline-block;
	position: relative;
}
#dropdown{
	position: absolute;
	background-color: white;
	width: 100%;
	z-index: 1;
	border-collapse: collapse;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#dropdown li{
	padding: 5px;
	border: 1px solid black;
	margin: -1px 0px -1px 0px;
}
.table-dicas{
	width: 60%;
	margin: 20px;
	border-collapse: collapse;
}
.table-dicas th, .table-dicas td {
	border: 1px solid black;
	text-align: center;
	min-width: 100px;
}
.table-dicas .table-header-nome{
	width: 150px;
}

.cell-acerto{
	background-color: var(--green);
}
.cell-quase{
	background-color: var(--yellow);
}
.cell-erro{
	background-color: var(--red);
}